/***** FONT ****/
$font-primary: 'Nunito', sans-serif;

/***** COLORS ****/
$color-coral: coral;
$color-placeholder: #bbb;

/***** SIZES ****/
$spinner-size: 3.8rem;
$m-bottom: 8rem;
$profile-img: 2.5rem;
