*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {

  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('/assets/img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
}

.landing-inner {
  padding-top: 5rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 2.5rem;
  height: 2.5rem;
}

.form-control::placeholder {
  color: #bbb !important;
}

.navbar-avatar {
  width: 2.5rem;
  margin-right: 0.3rem;
  border-radius: 50%;
}

footer.bg-dark.text-white.mt-5.p-4.text-center {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.spinner {
  width: 12.5rem;
  margin: auto;
  display: block;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.create-profile {
  margin-bottom: 8rem;
}

li.nav-item {
  align-self: center;
}

.add-experience {
  margin-bottom: 8rem;
}

.add-education {
  margin-bottom: 8rem;
}

.profile {
  margin-bottom: 8rem;
}
